*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.clicked{
  border: 1px solid black;
  width:9rem;
  height:9rem;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:4rem; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.8s
}
h1{
  font-weight:200;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width:fit-content;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:0;
}
.box{ 
  border: 1px solid black;
  width:9rem;
  height:9rem;
  cursor:pointer;
}